.list-header span {
    font-family: 'Montserrat';
    font-weight: bold;
    display: block;
    font-size: 18px;    
    padding-bottom: 1.5rem;
}

.list-header span:hover {
    cursor: pointer;
    opacity: 1;
    transition: 0.2s ease-in-out;
}

.dep-ci {
    color: #F0B056;
    opacity: 0.3;
}

.dep-rc {
    color: #5FAB30;
    opacity: 0.3;
}

.dep-re {
    color: #00AFB9;
    opacity: 0.3;
}

.dep-rh {
    color: #E15551;
    opacity: 0.3;
}

.portfolio-header-item {
    opacity: 0.3;
}

@media screen and (max-width: 960px) {
    .list-header {
        padding-bottom: 0.5rem;
    }

    .list-header:last-child {
        padding-bottom: 2.5rem;
    }
}