.quem-somos-item-1 {
    padding-left: 5rem;
    padding-right: 8rem;
    display: flex;
    justify-content: space-between;
}

.quem-somos-item-2 {
    padding-left: 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quem-somos-item-3 {
    padding-right: 8rem;
    padding-bottom: 10rem;
    display: flex;
    justify-content: space-between;
}

.img-quem-somos-wrapper {
    width: 22rem;
    height: 26rem;
}

.img-quem-somos-wrapper-2 {
    width: 26rem;
    height: 22rem;
}

.img-quem-somos-wrapper-3 {
    width: 24rem;
    height: 26rem;
}

.img-quem-somos-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-quem-somos-wrapper-2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-quem-somos-wrapper-2-mobile {
    display: none;
}

.quem-somos-item-1-text {
    width: 63%;
}

.quem-somos-item-2-text {
    width: 50%;
}

.quem-somos-item-3-text {
    padding-top: 7rem;
    width: 60%;
}

.quem-somos-item-1-text p, .quem-somos-item-2-text p, .quem-somos-item-3-text p {
    font-size: 18px;
    font-weight: 500;
    text-align: justify;
}

.quem-somos-item-1-text p:nth-child(1) {
    margin-bottom: 1.5rem;
}

@media screen and (max-width: 960px) { 
    .quem-somos-item-1, .quem-somos-item-2, .quem-somos-item-3 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .quem-somos-item-1-text, 
    .quem-somos-item-2-text,
    .quem-somos-item-3-text {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;

    }

    .quem-somos-item-1-text {
        padding-top: 1rem;
        padding-bottom: 4rem;
    }

    .quem-somos-item-3 {
        padding-top: 4rem;
    }

    .quem-somos-item-3-text {
        padding-top: 1rem;
        padding-bottom: 6rem;
    }

    .img-quem-somos-wrapper-2 {
        display: none;
    }

    .img-quem-somos-wrapper, .img-quem-somos-wrapper-2, .img-quem-somos-wrapper-2-mobile {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .img-quem-somos-wrapper-2-mobile {
        display: block;
    }

    .img-quem-somos-wrapper-2-mobile img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .quem-somos-item-2-text {
        padding-top: 1rem;
    }
}