.CI {
    color: #F0B056;
}

.RC {
    color: #5FAB30;
}

.RE {
    color: #00AFB9;
}

.RH {
    color: #E15551;
}

.init-CI {
    background-color: #F0B056;
}

.init-RC {
    background-color: #5FAB30;
}

.init-RE {
    background-color: #00AFB9;
}

.init-RH {
    background-color: #E15551;
}

.department-qualities-title, .department-qualities-functions {
    font-size: 18px;
    font-family: 'Montserrat';
    font-weight: bold;
    opacity: 0.7;
}
.department-qualities {
    width: 50rem;
}

.department-qualities p {
    padding-bottom: 0.7rem;
}

.department-qualities-title-items p,
.department-qualities-functions-items p {
    font-family: 'Poppins';
}

.init-line {
    display: inline-block;
    margin-bottom: 0.3rem;
    margin-right: 1rem;
    height: 2px;
    width: 12px;
    transform: rotate(-45deg);
}

.department-image {
    padding-top: 3rem;
    text-align: center;
}

.department-qualities-title, .department-qualities-functions {
    opacity: 1;
}

@media screen and (max-width: 960px) {
    .department-qualities {
        width: 100%;
    }
}