.department-qualities-title, .department-qualities-functions {
    font-size: 18px;
    font-family: 'Montserrat';
    font-weight: bold;
    color: orange;
    opacity: 0.7;
}
.department-qualities {
    width: 50rem;
}

.department-qualities p {
    padding-bottom: 0.7rem;
}

.department-qualities-title-items p,
.department-qualities-functions-items p {
    font-family: 'Poppins';
}

.init-line {
    display: inline-block;
    margin-bottom: 0.3rem;
    margin-right: 1rem;
    height: 2px;
    width: 12px;
    background-color: orange;
    transform: rotate(-45deg);
}

.department-image {
    padding-top: 3rem;
    text-align: center;
}

@media screen and (max-width: 960px) {
    .department-qualities {
        width: 100%;
    }

}