.textbox-wrapper {
    padding: 0.5rem;
}

.textbox-wrapper textarea{
    border-radius: 0;
    border: solid 1px #000;
    width: 28rem;
    resize: none;
    height: 12rem;
    padding: 0.7rem;
    margin-bottom: 3rem;
}

@media screen and (max-width: 960px) {
    .textbox-wrapper textarea {
        width: 95%;
        margin-left: 2.5%;
        margin-right: 2.5%;
    }
}