.initiatives {
    width: 55rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

@media screen and (max-width: 960px) {
    .initiatives {
        width: 100%;
        flex-direction: column;
        gap: 4rem;
    }
}