.card {
    border-radius: 20px;
    background: #fff;
}

.card-image {
    height: 140px;
    width: 140px;
}

.card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: solid 3px #fff;
}