.partnership-item {
    height: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.partnership-item-image {
    height: 80%;
    width: 180px;
}

.partnership-item-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border: solid 3px #fff;
}

.partnership-item-legend {
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}