.dark-footer {
    background-color: #000;
    bottom: 0;
}

.dark-footer-wrapper {
    height: 50vh;
    background-color: #000;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer-logo-wrapper {
    width: 10rem;
    height: 8rem;
}

.footer-logo-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.contacts-list {
    margin: 0 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dark-footer-copy-wrapper {
    padding: 1.5rem;
    color: #5FAB30;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icons {
    color: #5FAB30;
}

@media screen and (max-width: 960px) {
    .dark-footer-wrapper {
        height: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contacts-list { 
        margin: 1rem 0 3rem 0;
    }
}