.dark-footer {
    background-color: #000;
    bottom: 0;
}

.dark-footer-wrapper {
    height: 40vh;
    background-color: #000;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.footer-logo-wrapper {
    width: 10rem;
    height: 8rem;
}

.footer-logo-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.contacts-list {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contacts-list-title {
    font-style: italic;
    margin-bottom: 1rem;
}

.dark-footer-copy-wrapper {
    padding: 1.5rem;
    color: #5FAB30;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icons {
    width: 12%;
    color: #5FAB30;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.social-icons span {
    font-size: 32px;
}

.social-icons-link {
    text-decoration: none;
    color: inherit;
}

.social-icons span:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.15s ease-in-out;
}

@media screen and (max-width: 960px) {
    .dark-footer-wrapper {
        height: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contacts-list { 
        margin: 1rem 0 3rem 0;
    }

    .social-icons {
        width: 60%;
    }
}