.navbar {
  height: 80px;
  background-color: #000;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  padding: 0 5rem;
}

.navbar-logo {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar-logo img {
  height: 70%;
  width: 100%;
  object-fit: cover;
}

.navbar-links {
  color: white;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links ul li {
  margin: 0 1.5rem;
  list-style: none;
}

.dropdown {
  display: flex;
  align-items: center;
}

.navbar-links ul li:hover {
  cursor: pointer;
  color: #5FAB30;
  transition: color 0.25s ease-in-out;
}

.navbar-links ul li:hover .drop-line{
  background-color: #5FAB30;
  transition: background-color 0.25s ease-in-out;
}

.drop-line {
  margin-left: 16px;
  height: 2px;
  width: 12px;
  background-color: #fff;
}