.carousel {
    width: 90%;
    margin: 0 5% 5rem 5%;
    padding: 2rem 0;
}

.swiper-container {
    height: 16rem;
}

.swiper-pagination {}

@media screen and (max-width: 960px) {
    .carousel {
        width: 100%;
        margin: 0 0 5rem 0;
    }
}